<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
	
</head>
<body>
	<div class="invoice-top">
		<div class="row">
			<div class="col-sm-6">
				<div class="invoice-top-left">
					<img src="./templates/thm-logo.png" class="img-responsive logo" />
					<h1>TryHackMe</h1>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="invoice-top-right" contenteditable="true">
					<h4>INVOICE</h4>
					<h6>#</h6>
					<h3>Date</h3>
					<h2 class="amount">PAID</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="invoice-middle">
		<div class="row">
			<div class="col-md-3">
				<div class="client-address" contenteditable="true">
					<h6>TO</h6>
					<h2>Company/ Full Name</h2>
					<h4>
						Address Line 1 <br>
						Address Line 2 <br>
						Postal Code <br>
						Other
					</h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="our-address">
					<h6>FROM</h6>
					<h2>TryHackMe LTD</h2>
					<h4>
						160 Kemp House<br>
						London, Greater London EC1V 2NX <br>
						United Kingdom <br>
						VAT number: 373543095
					</h4>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-5">
				<div class="note">
					<h6>VAT EXCEMPTION NOTE</h6>
					<p>Inclusive of UK VAT @ 20%</p>
				</div>
			</div>
		</div>
	</div>
	<div class="invoice-bottom" contenteditable="true">
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h2 class="service-title">Basic Yearly USD</h2>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">Units</h3>
				<h5 id="units" class="service-price-subtitle">5</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">Unit Price</h3>
				<h5 id="unitPrice" class="service-price-subtitle">$480.00</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">Total</h3>
				<h5 id="unitTotal" class="service-price-subtitle">$480.00</h5>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-8">
				<h2 class="service-title">Without VAT</h2>
				<h5 class="service-subtitle">Each item not including VAT</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">Unit Price</h3>
				<h5 id="unitNoVAT" class="service-price-subtitle">$480.00</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">Total</h3>
				<h5 id="totalNoVAT" class="service-price-subtitle">$480.00</h5>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h2 class="service-title">VAT Breakdown</h2>
				<h5 class="service-subtitle">VAT charged on each item</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">VAT</h3>
				<h5 class="service-price-subtitle">20%</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">Unit VAT</h3>
				<h5 id="unitVAT" class="service-price-subtitle">$480.00</h5>
			</div>
			<div class="col-sm-2">
				<h3 class="service-price-title">Total VAT</h3>
				<h5 id="totalVAT" class="service-price-subtitle">$480.00</h5>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-10 col-xs-8">
				<h4 class="sub-total">SUB TOTAL</h4>
			</div>
			<div class="col-sm-2 col-xs-4">
				<h3 id="subtotal" class="sub-total-price">$480.00</h3>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-10 col-xs-8">
				<h4 class="discount">AMOUNT PAID</h4>
			</div>
			<div class="col-sm-2 col-xs-4">
				<h3 id="paid" class="discount-price">-$480.00</h3>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-9 col-xs-8">
				<h3 class="total-due">TOTAL DUE</h3>
			</div>
			<div class="col-sm-3 col-xs-4">
				<h3 class="total-due-price">$0.00</h3>
			</div>
		</div>
	</div>
	
	<script>
const unitsElement = document.getElementById('units');
const unitTotalElement = document.getElementById('unitTotal');

const unitVATElement = document.getElementById('unitVAT');
const totalVATElement = document.getElementById('totalVAT');

const unitNoVATElement = document.getElementById('unitNoVAT');
const totalNoVATElement = document.getElementById('totalNoVAT');

const subtotalElement = document.getElementById('subtotal');
const paidElement = document.getElementById('paid');

const unitPriceElement = document.getElementById('unitPrice');
const pricePerUnit = parseFloat(unitPriceElement.innerText.replace(/\$/g, ''));

function updateUnitTotal() {
  const units = parseInt(unitsElement.innerText.trim());
  if (isNaN(units)) {
    return;
  }
  const unitTotal = units * pricePerUnit;

  const unitVAT = pricePerUnit * 0.2;
  const totalVAT = unitTotal * 0.2;

  const unitNoVAT = pricePerUnit * 0.8;
  const totalNoVAT = unitTotal * 0.8;

  unitTotalElement.innerText = `$${unitTotal.toFixed(2)}`;

  unitNoVATElement.innerText = `$${unitNoVAT.toFixed(2)}`;
  totalNoVATElement.innerText = `$${totalNoVAT.toFixed(2)}`;

  unitVATElement.innerText = `$${unitVAT.toFixed(2)}`;
  totalVATElement.innerText = `$${totalVAT.toFixed(2)}`;

  subtotalElement.innerText = `$${unitTotal.toFixed(2)}`;
  paidElement.innerText = `- $${unitTotal.toFixed(2)}`;
}

updateUnitTotal();

const updateButton = document.getElementById('updateButton');
updateButton.addEventListener('click', updateUnitTotal);

	</script>
</body>
</html>